.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  color: #fff;
  padding-left: 2rem;
  padding-right: 10rem;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

header > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  cursor: pointer;
}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.product {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: ghostwhite;
  cursor: pointer;
}

.product > img {
  mix-blend-mode: multiply;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.product-details {
  display: flex;
}

.imgages {
  display: flex;
}

.all-images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.all-images > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 0.5px solid violet;
}

.all-images > img:hover {
  border: 2px dashed green;
  cursor: pointer;
  height: 105px;
}

.selected-img {
  width: 500px;
  height: 527px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.selected-img > img {
  width: 500px;
  height: 527px;
  object-fit: cover;
}

.selected-img > button {
  background-color: orange;
  width: 500px;
  height: 35px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.selected-img > button > svg {
  margin-right: 10px;
}

.selected-img > button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: pointer;
}

.details {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 3rem;
}

.details > button {
  background-color: #2370f4;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 100px;
  border: none;
}

.details > button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.pagination {
  margin: 5rem;

  display: flex;
  align-items: center;

  justify-content: center;
}

.pagination > span {
  border: 1px solid grey;
  cursor: pointer;
  height: 2rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination > span:hover {
  background-color: blueviolet;
}

.active-page {
  background-color: grey;
}
